body{
 	 padding-top:10px;
 }
 .body{
  background-color: #f8f8f8;
  position: relative;
  left: 10%;
  width:80%;
  height: 100%;
}
.header{
	width: 100%;
	height: 50px;
	background-color: #006699;
	font-size: 2em;
	position: relative;
	padding-left: 5px;
	color: white;
	border-radius: 2px;
}
 .middle_left{
    position: relative;
  	display: inline-block;
    padding-left:0px;
    font-size: 15px;
    margin-top: 20px;
 }
 .middle_right{
    position: relative;
 	  left: 15%;
 	  width:85%;
   	display: inline-block;
   	padding-top:10px;
 }
 .header_{
    position: relative;
    left: 2%;
 	  width:88%;
  	padding-top:10px;
    float:left;
 }
 .sousuo{
 	width: 200px;
 	position: relative;
  float:left;
  padding-bottom: 10px;
 }
 .part{
  position:relative;
  left:20%;
 }

 table{
  table-layout:fixed;
 }
.table tbody tr td{
  overflow: hidden; 
  text-overflow:ellipsis;  
  white-space: nowrap; 
 }